{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block subtitle %}{% endblock %} - Scrapy Control Panel</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
    {% block into_head %}
    {% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'spiderman_home' %}">Scrapy Control Panel</a>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'spiderman_home' %}">Control Panel</a></li>
                <li><a href="{% url 'runscripts_home' %}">Scripts</a></li>
            </ul>
        </div>
        </div>
    </nav>
</div>
{% block content %}
{% endblock %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
